src/main/resources/org/opengis/cite/gpkg12/nsg/metadata/NMIS v2.X Schema/nas/nmis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp1 (http://www.altova.com) by Barbara Devenny (THE SI ORGANIZATION INC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nas="http://metadata.ces.mil/dse/ns/GSIP/5.0/nas" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gmi="http://www.isotc211.org/2005/gmi" xmlns:swe="http://www.opengis.net/swe/2.0" xmlns:ism="urn:us:gov:ic:ism" xmlns:ntk="urn:us:gov:ic:ntk" targetNamespace="http://metadata.ces.mil/dse/ns/GSIP/5.0/nas" elementFormDefault="qualified" attributeFormDefault="qualified" version="2.2.0">
	<!-- ================================= Annotation ================================ -->
	<!-- - - - - - -   DSE-based Resources   - - - - - - - - - - 
    <xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://metadata.ces.mil/dse/ns/GPAS/schemas/iso/19139/20070417/gmd/gmd.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://metadata.ces.mil/dse/ns/GPAS/schemas/iso/19139/20070417/gco/gco.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gss" schemaLocation="http://metadata.ces.mil/dse/ns/GPAS/schemas/iso/19139/20070417/gss/gss.xsd"/>
    <xs:import namespace="http://www.isotc211.org/2005/gmi" schemaLocation="http://metadata.ces.mil/dse/ns/GPAS/schemas/iso/19139-2/gmi/gmi.xsd"/>
    <xs:import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://metadata.ces.mil/dse/ns/GPAS/schemas/ogc/sweCommon/2.0.1/swe.xsd"/>
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - -  Local Profile-restricted Resources - - - - -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../iso/19139/20070417/gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gss" schemaLocation="../iso/19139/20070417/gss/gss.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmi" schemaLocation="../iso/19139-2/gmi/gmi.xsd"/>
	<!--<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="./nmisGmdProfile.xsd"/> OBE-->
	<!--<xs:import namespace="http://www.isotc211.org/2005/gmi" schemaLocation="./nmisGmiProfile.xsd"/> OBE-->

	<!-- select IC-ISM version (and thus IC-NTK version) in current use -->
	<xs:include schemaLocation="./icDESInclude.xsd"/>
	<!-- Extended administrative metadata -->
	<xs:element name="MD_Metadata" type="nas:MD_Metadata_Type" substitutionGroup="gmd:MD_Metadata"/>
	<xs:complexType name="MD_Metadata_Type">
		<xs:annotation>
			<xs:documentation>GSIP Metadata Profile - Administrative metadata extension</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmi:MI_Metadata_Type">
				<xs:attributeGroup ref="nas:NMISRootNodeAttributeGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MD_Metadata_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:MD_Metadata"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- An “internationalized” telephone number as specified in ITU-T Recommendation E.123 Clause 2. -->
	<!-- NOTE1: The international prefix symbol is a ‘+’ (plus) and should precede the country code in the international number. It serves to remind the subscriber to dial the international prefix which differs from country to country and also serves to identify the number following as the international telephone number. -->
	<!-- NOTE2: Spacing symbols are symbols that are used solely to separate parts of a telephone number from each other. They cannot be dial-able, procedural or information symbols. Grouping of digits in a telephone number should be accomplished only through the use of spaces in an international number. In the international number, spacing shall occur between the country code and the trunk code and between the trunk code and the subscriber number. -->
	<!-- NOTE3: A slash (/) may not be used to indicate alternate numbers; instead separate element(s) shall be populated. -->
	<xs:element name="TelephoneNumber" type="nas:TelephoneNumberType" substitutionGroup="gco:CharacterString"/>
	<xs:simpleType name="TelephoneNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{0,5}[ ][\d]+[ ][\d][\d ]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Hierarchy level names code list - using the codelist pattern of ISO 19139 -->
	<xs:element name="ScopeAmplificationCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- Metadata standard names code list - using the codelist pattern of ISO 19139 -->
	<xs:element name="MetadataStandardNameCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- Metadata standard version using the Major.Minor.Corrigendum numeric form established by OGC policy  -->
	<xs:simpleType name="MetadataStandardVersionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\d]+[.][\d]+[.][\d]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="MetadataStandardVersion" type="nas:MetadataStandardVersionType" substitutionGroup="gco:CharacterString"/>
	<!-- Language country codes for identification of the country portion of the language identification -->
	<xs:complexType name="LanguageCountryCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:LanguageCountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LanguageCountryCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- Language codes for identification of the language used for the text in a resource -->
	<xs:element name="LanguageCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- Data identification/content summary metadata extending MD_Identification/MD_DataIdentification -->
	<xs:element name="MD_DataIdentification" type="nas:MD_DataIdentification_Type" substitutionGroup="gmd:MD_DataIdentification"/>
	<xs:complexType name="MD_DataIdentification_Type">
		<xs:annotation>
			<xs:documentation>Data identification and Data content summary metadata</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_DataIdentification_Type">
				<xs:sequence>
					<xs:element name="languageCountry" type="nas:LanguageCountryCode_PropertyType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The national localization of a language used for the character-based content of the data resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resourceCategory" type="nas:ResourceCategoryCode_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="revisionRecall" type="nas:NMF_RevisionRecall_PropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MD_DataIdentification_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:MD_DataIdentification"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- Security marking metadata for the metadata instance and the resource -->
	<!-- In the case of CAPCO markings the classification system must be "US CAPCO" and the DES.ISM.XML attributes populated accordingly.  -->
	<xs:simpleType name="ClassificationSystemType">
		<xs:restriction base="xs:string">
			<xs:pattern value="US CAPCO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ClassificationSystem" type="nas:ClassificationSystemType" substitutionGroup="gco:CharacterString"/>
	<xs:element name="MD_SecurityConstraints" type="nas:MD_SecurityConstraints_Type" substitutionGroup="gmd:MD_SecurityConstraints"/>
	<xs:complexType name="MD_SecurityConstraints_Type">
		<xs:annotation>
			<xs:documentation>Metadata instance and Resource security marking for the NAS</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_SecurityConstraints_Type">
				<xs:sequence>
					<xs:element name="capcoMarking">
						<xs:annotation>
							<xs:documentation>The security classification marking for the resource in accordance with the (US) Controlled Access Program Coordination Office (CAPCO) guidance.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="nas:SecurityAttributesGroup"/>
						</xs:complexType>
					</xs:element>
					<!-- The following element specification must be removed for ISM V4 and V5, as there was no corresponding NTK version  -->
					<xs:element ref="nas:needToKnow" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A statement or description of a group of people who should be granted access to an information resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- The following element specification must be removed for ISM V4, V5, and V6, as there was no Notice element -->
					<xs:element ref="nas:notices" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information concerning “well-defined” security notices including those defined in the CAPCO register and the ISM.XML standard.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MD_SecurityConstraints_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:MD_SecurityConstraints"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- Bounding Point -->
	<xs:complexType name="BoundingPoint_Type">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:AbstractEX_GeographicExtent_Type">
				<xs:sequence>
					<xs:element name="point" type="gss:GM_Point_PropertyType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Points defining the bounding point.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BoundingPoint" type="nas:BoundingPoint_Type" substitutionGroup="gmd:AbstractEX_GeographicExtent"/>
	<xs:complexType name="NMF_DigitalTransferOptions_Type">
		<xs:annotation>
			<xs:documentation>Technical means and media by which a dataset is obtained from the distributor</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_DigitalTransferOptions_Type">
				<xs:sequence>
					<xs:element name="crc" type="nas:NMF_CRCValue_Type" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NMF_DigitalTransferOptions_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:NMF_DigitalTransferOptions"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<xs:element name="NMF_DigitalTransferOptions" type="nas:NMF_DigitalTransferOptions_Type" substitutionGroup="gmd:MD_DigitalTransferOptions"/>
	<xs:complexType name="NMF_CRCValue_Type">
		<xs:sequence>
			<xs:element name="crcType" type="nas:CRCTypeCode_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="authority" type="gmd:CI_Citation_PropertyType" minOccurs="0" maxOccurs="1"/>
			<!-- <xs:element name="value" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/> -->
			<xs:element name="value" type="nas:CRCHexValue_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Types of CRC algorithms -->
	<xs:complexType name="CRCTypeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:CRCTypeCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CRCTypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- CRC values encoded in Hexadecimal -->
	<xs:complexType name="CRCHexValue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:CRCHexValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CRCHexValue" type="nas:CRCHexValueType" substitutionGroup="gco:CharacterString"/>
	<xs:simpleType name="CRCHexValueType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-F,0-9]){2}"/>
			<xs:pattern value="([A-F,0-9]){4}"/>
			<xs:pattern value="([A-F,0-9]){6}"/>
			<xs:pattern value="([A-F,0-9]){8}"/>
		</xs:restriction>
		<!-- allow for all legal lengths of a hexadecimal encoding from 1 to 8 bytes in length -->
	</xs:simpleType>
	<xs:complexType name="ResourceCategoryCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:ResourceCategoryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResourceCategoryCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- =========================================================================== -->
	<xs:complexType name="NMF_RevisionRecall_Type">
		<xs:annotation>
			<xs:documentation>Information on the revision or recall of the resource</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="revisionID" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="revisionType" type="nas:RevisionTypeCode_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="revisionLink" type="gmd:MD_Identifier_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="revisionDetails" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NMF_RevisionRecall_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:NMF_RevisionRecall"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<xs:element name="NMF_RevisionRecall" type="nas:NMF_RevisionRecall_Type"/>
	<!-- =========================================================================== -->
	<xs:complexType name="RevisionTypeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:RevisionTypeCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RevisionTypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:complexType name="QualityMeasure_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDQ_Element_Type">
				<xs:sequence>
					<xs:element name="derivedElement" type="gmd:DQ_Element_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QualityMeasure_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="nas:QualityMeasure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<xs:element name="QualityMeasure" type="nas:QualityMeasure_Type" substitutionGroup="gmd:AbstractDQ_Element"/>
	<!-- ........................................................................ -->
</xs:schema>
